<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <element>
        <title>Użytkownicy</title>
        <menu>
            <element>
                <link>/User</link>
                <title>Lista</title>
            </element>
            <element>
                <link>/User/add</link>
                <title>Dodaj usera</title>
            </element>
            <element>
                <link>/Token</link>
                <title>Tokeny</title>
            </element>
        </menu>
    </element>
</menu>
